<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div><a href="#" routerLink="../homepage"  class="positronx">Class Register System</a></div>
  <span class="nav-tool-items">
    <a class="login-btn" mat-button routerLink="../login" routerLinkActive="isActive">Log in</a>
    <a class="register-btn" mat-button mat-raised-button routerLink="../register" routerLinkActive="isActive">Register</a>
  </span>
</mat-toolbar>
<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  <div>Material Theme</div>
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
</mat-toolbar>
<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="true"
    [fixedTopGap]>
    <mat-nav-list>
      <a routerLink="../homepage" mat-list-item >
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
      <a routerLink="../profile" mat-list-item>
        <mat-icon>person</mat-icon> โปรไฟล์
      </a>
      <a routerLink="../register-class" mat-list-item>
        <mat-icon>content_paste</mat-icon> ลงทะเบียนวิชาเรียน
      </a>
      <a routerLink="../registration-result" mat-list-item>
        <mat-icon>library_books</mat-icon> วิชาที่ลงทะเบียน
      </a>
      <a routerLink="../drop-class" mat-list-item>
        <mat-icon>history</mat-icon> ถอนวิชาเรียน
      </a>
      <a mat-list-item>
        <mat-icon>calendar_today</mat-icon> Calendar
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- Main content -->

<mat-sidenav-content>
  <!-- Applying the mat-tyography class adds styles for native elements. -->
  <section class="mat-typography title-group">
    <mat-divider></mat-divider>
  </section>
  <!-- Angular material cards -->
  <div class="productCards">
    <h1>PRO FILE</h1>
  </div>
</mat-sidenav-content>

</mat-sidenav-container>
