
<div class="content" >
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>FULL-STACK1</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://gstatic.com/classroom/themes/img_learnlanguage.jpg">
    <mat-card-content>
      <p>
        The Himalayas is a mountain range in Asia.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>งานที่ต้องส่ง</button>
      <button mat-button>ผู้คน</button>
    </mat-card-actions>
  </mat-card>
</div>
